.light {
  --background: #ffffff;
  --foreground: #000000;
  --bgForm: transparent;
}

.dark {
  --background: #1a1a1a;
  --foreground: #f2f2f2;
  --bgForm: #fff;
}

.pageAbout {
  width: 100%;
  height: 100vh;
  min-height: 90vh;
  background-color: var(--background);
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.headingBox{
  width: 70%;
  margin: 1rem auto;
  height: 150px;
  background-image: url('../../../public/bg-contact.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: var(--foreground);
}