.light {
  --background: #ffffff;
  --foreground: #000000;
  --bgText: #d0e1f4;
}

.dark {
  --background: #1a1a1a;
  --foreground: #f2f2f2;
  --color: blue;
  --bgText: #0a9383;
}

.page {
  width: 100%;
  background-color: var(--background);
  transition: background-color 0.3s, color 0.3s;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.searchBar {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 0.75rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.recommendUser {
  width: 100%;
  padding: 5px;
}

.introduceNumber{
  display:grid;
  place-items: center;
  margin: 1rem 0;
}

.introduceNumber > p{
  padding: 1rem 0;
}

.title{
  color: var(--foreground);
  text-align: center;
  text-transform: uppercase;
}

.des{
  color: var(--foreground);
  width: 65%;
  text-align: center;
  line-height: 2;
}

.cards{
  width: 100%;
  display: grid;
  margin: 0 auto;
  width: 90%;
  grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  gap: 20px;
}

.card {
  padding: 0.75rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  background-color: #a8dadc;
  color: #000;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: normal;
  gap: 10px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease-in-out,
}

.activeCard{
  background-color: #d4e2f7;
  color: #ff5500;
}

.list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin: 25px 0;
}

.scrollVertical{
  width: 400px;
  max-height: 250px;
  padding: 0.5rem;
  overflow-y: auto;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-thumb{
  background: #f80;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track{
  background-color: #a4d1d6;
}

.information{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.introduce{
  width: 100%;
  aspect-ratio: 5 / 2;
  max-width: 500px;
  position: relative;
}

.introduce::before{
  content: '';
  position: absolute;
  background-color: var(--bgText);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  width: 90%;
  height: 100%;
  top: -5%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 8px;
  transform-origin: bottom;
  z-index: 2;
}

.introduce::after{
  content: '';
  position: absolute;
  background-color: #bdb4b4;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  width: 80%;
  height: 100%;
  padding: 1rem;
  top: -10%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 8px;
  transform-origin: bottom;
  z-index: 1;
}

.introduce > p{
  color: var(--foreground);
  line-height: 1.5;
  text-align: justify;
  padding: 1rem;
  position: absolute;
  z-index: 3;
}

.contentThrief{
  width: 100%;
  background-color: #f5deb3;
  color: #333;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5rem;
  text-align: justify;
}

.contentThrief > p{
  color: var(--color);
  line-height: 1.1;
}

.space{
  display: flex;
  justify-content: center;
}

@media (max-width: 300px) {
  .wrapper {
    width: 95%;
  }

  .searchBar {
    flex-direction: column;
  }

  .list{
    flex-direction: column;
    gap: 70px;
  }

  .introduce{
    height: 540px;
  }

  .introduce > p:nth-of-type(2){
    margin-top: 12rem;
  }

  .scrollVertical{
    width: auto;
  }

  .introduceNumber > p {
    width: 100%;
    line-height: 1.5;
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .wrapper {
    width: 95%;
  }

  .searchBar {
    flex-direction: column;
  }

  .list{
    flex-direction: column;
    gap: 70px;
  }

  .introduce{
    height: 430px;
  }

  .introduce > p:nth-of-type(2){
    margin-top: 10rem;
  }

  .scrollVertical{
    width: auto;
  }

  .introduceNumber > p {
    width: 100%;
    line-height: 1.5;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 80%;
  }

  .introduce > p:nth-of-type(2){
    margin-top: 7rem;
  }
}