.light {
  --background: #ffffff;
  --foreground: #000000;
  --line: #a4d1d6;
}

.dark {
  --background: #1a1a1a;
  --foreground: #f2f2f2;
  --color: blue;
  --line: #eee;
}

.navbar{
  padding: 0.5rem 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--line);
}

.navbar > a{
  color: var(--foreground);
}

@media(max-width: 768px){
  .navbar{
    padding: 0.25rem 1rem;
  }
}