.light {
  --background: #333;
  --foreground: #fff;
}

.dark {
  --background: #000;
  --foreground: #eee;
}

.footer {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
  padding: 1rem 0;
  text-align: center;
  margin-top: auto;
}