.light {
  --background: #eee;
  --foreground: #000000;
}

.dark {
  --background: #a4d1d6;
  --foreground: #fff;
}

.footer {
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.3s, color 0.3s;
    padding: 1rem 0;
    text-align: center;
}